<h1><%= t('.title') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('authors') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.title %></td>
        <td><%= album.authors %></td>
        <td><%= link_to content_tag(:span,"",class: "ui-icon ui-icon-folder-open"), admin_album_path(album) %></td>
        <td><%= link_to content_tag(:span,"",class: "ui-icon ui-icon-pencil"), edit_admin_album_path(album) %></td>
        <td><%= link_to content_tag(:span,"",class: "ui-icon ui-icon-minus"), admin_album_path(album), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_admin_album_path,{class: "btn btn-primary"}%>
