<h1><%= @album.title %></h1>

<%= link_to t('new'), new_admin_album_album_photo_path(@album),{class: "btn btn-primary"}  %>
<%= link_to t('import_from_tags'), new_admin_album_fill_album_from_tag_path(@album),{class: "btn btn-primary"}  %>
<%= link_to( t('import_from_selected'), admin_album_fill_album_from_selected_index_path(@album),
:method => :post, class: "btn btn-primary") %>

<br><br>



<div class="row">

   <% @album.album_photos.each_with_index do |album_photo,index| %>
  
    <div class="col-sm-3" >
  
    <div class="thumbnail">  
     
      <%= render partial: "photos/thumb", locals: { photo: album_photo.photo, path: gallery_show_path(album_photo.photo) } %>
      <%- l1 = link_to del_icon, admin_album_album_photo_path(@album.id, album_photo.id), method: :delete, data: { confirm: 'Are you sure?' } if is_stuff? %>
      <%- l2 = link_to edit_icon, edit_admin_album_album_photo_path(@album.id,album_photo.id) if is_stuff? %>
      <%= render partial: "photos/caption", locals: { photo: album_photo.photo, links: [l2, l1] } %>

     
    </div>
    
    
    
  </div>

  <% end %>
  
</div>
