<h1><%= @album.title %></h1>

<%= link_to t('new'), new_admin_album_site_photo_path(@album),{class: "btn btn-primary"}  %>
<%= link_to t('import_from_tags'), new_admin_album_fill_album_from_tag_path(@album),{class: "btn btn-primary"}  %>


<br><br>



<div class="row">

   <% @album.site_photos.each_with_index do |photo,index| %>
  
    <div class="col-sm-3" >
  
    <div class="thumbnail">  
     
      <%= render partial: "photos/thumb", locals: { photo: photo, path: site_photo_path(photo) } %>
      <%- l1 = link_to del_icon, site_photo_path(photo.id), method: :delete, data: { confirm: 'Are you sure?' } if is_stuff? %>
      <%- l2 = link_to edit_icon, edit_admin_album_site_photo_path(@album.id,photo.id) if is_stuff? %>
      <%= render partial: "photos/caption", locals: { photo: photo, links: [l2, l1] } %>

     
    </div>
    
    
    
  </div>

  <% end %>
  
</div>
