<h1><%= t(".novelties_") %></h1>

  <!-- #<%= will_paginate @posts %> -->
<%= will_paginate @posts, renderer: BootstrapPagination::Rails%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Заголовок</th>
      <th>Дата</th>
      <th>Опубликовано<nobr/>?</th>
      <th>Пользователь</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%@novelties.each do |novelty| %>
      <tr>
        <td><%= novelty.title %></td>
        <td><%= I18n.l(novelty.publish_date) %></td>
        <td><%= novelty.published %></td>
        <td><%= novelty.user.name %></td>
        <td><%= link_to show_icon, admin_novelty_path(novelty) %></td>
        <td><%= link_to edit_icon, edit_admin_novelty_path(novelty) %></td>
        <td>
        <%= link_to del_icon, admin_novelty_path(novelty), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.t(:new), new_admin_novelty_path, {class: "btn btn-primary"}  %>
