<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= raw @admin_post.content %>
</p>

<p>
  <strong>Content:</strong>
  <%= raw @admin_post.digest %>
</p>

<p>
  <strong>Published:</strong>
  <%= @admin_post.published %>
</p>

<p>
  <strong>User:</strong>
  <%= @admin_post.user_id %>
</p>
