<h2><%= @competition_photo.nomination.title %></h2>




<p class="text-center">
  
  <%= image_tag @competition_photo.photo.image_url(:normal)%>
</p>

<% if @competition_photo.photo &&  @competition_photo.photo.title %>
<p>
  <strong>Название:</strong>
  <%= @competition_photo.photo.title %>
</p>

<%- end %>

<%= link_to t('back'), jury_view_photos_path(@competition_photo.competition, @scope, @nomination_id) %>


<div style="float: right">
  <%= link_to image_tag(@prev.image_url(:thumb), style: 'height: 50px'), jury_show_path(@scope, @prev, @nomination_id) if @prev %>
  <%= link_to image_tag(@next.image_url(:thumb), style: 'height: 50px'), jury_show_path(@scope, @next, @nomination_id) if @next %>
</div>

<%= jury_rate(current_user.id, @competition_photo.id, @competition_photo.jury_rating(@user.id), "jury_rate",@competition_photo.competition.num_stars) %>

<hr/>
