<h1><%= @competition.title %></h1>
<h2>Отправленные фотографии</h2>
<br>


<%= will_paginate @competition_photos %>

<table class="table table-striped">
  
  <tr>
    <td>Фотография</td>
    <td>Номинация</td>
    <td>Оценка
      
     

    </td>
  </tr>

  <% @competition_photos.each_with_index do | competition_photo,index| %>

    <tr>

      <td>
        <%= link_to image_tag(competition_photo.photo.image_url(:thumb), class: "img-responsive"), photo_view_path(competition_photo.photo) %>
      </td>  
      
      <td>
        <%= competition_photo.nomination.title %>
      </td>

      <td>
        <%= jury_rate(@user.id,competition_photo.id, competition_photo.jury_rating(@user.id),"jury_rate") %>
        
      </td>

    </tr>

 

  <% end %>
  
</table>
