<h1><%= @competition.title %></h1>
<h2><%= t('sent_photos') %></h2>
<br>


<%= will_paginate @competition_photos %>
 
<p>
  <%= t('all') %> <%= @should_jury %> 
  <%= t('left') %> <%= @should_jury - @juried %> 
</p>

<%- all_class = @scope == "all" ? "btn btn-success" : "btn btn-default" %>
<%= link_to t('all'), jury_view_photos_path(@competition, :all, nomination_id: @nomination_id), class: all_class %>

<%- unrated_class = @scope == "unrated" ? "btn btn-success" : "btn btn-default" %>
<%= link_to t('unrated'), jury_view_photos_path(@competition, :unrated, nomination_id: @nomination_id), class: unrated_class %>


<%= render partial: 'nomination_form' %>


<table class="table table-striped">
  
  <tr>
    <td><%= t('photos_') %></td>
    <td><%= t('nomination') %></td>
    <td><%= t('rating') %></td>
  </tr>

  <% @competition_photos.each_with_index do | competition_photo,index| %>

    <tr>

      <td>
        <%= link_to image_tag(competition_photo.photo.image_url(:thumb), class: "img-responsive"), jury_show_path(@scope, competition_photo, @nomination_id) %>
      </td>  
      
      <td>
        <%= competition_photo.nomination.title %>
      </td>

      <td>
        <%= jury_rate(@user.id,competition_photo.id, competition_photo.jury_rating(@user.id),"jury_rate", @competition.num_stars) %>
        
      </td>

    </tr>

 

  <% end %>
  
</table>
