<h1><%= t(".banners") %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(".title") %></th>
      <th><%= t(".link") %></th>
      <th><%= t(".active") %></th>
      <th><%= t(".image") %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_banners.each do |admin_banner| %>
      <tr>
        <td><%= admin_banner.title %></td>
        <td><%= admin_banner.link %></td>
        <td><%= admin_banner.active %></td>
        <td><%= image_tag admin_banner.image_url(:thumb), class: "img-responsive" %> </td>
        <td><%= link_to show_icon, admin_banner %></td>
        <td><%= link_to edit_icon, edit_admin_banner_path(admin_banner) %></td>
        <td><%= link_to del_icon, admin_banner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(".new"), new_admin_banner_path, {class: "btn btn-primary"}   %>
