<h1><%= t(".articles") %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(".title") %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_articles.each do |admin_article| %>
      <tr>
        <td><%= admin_article.title %></td>
        <td><%= link_to show_icon, admin_article %></td>
        <td><%= link_to edit_icon, edit_admin_article_path(admin_article) %></td>
        <td><%= link_to del_icon, admin_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(".new"), new_admin_article_path, {class: "btn btn-primary"}   %>
