<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(".title") %>:</strong>
  <%= @admin_article.title %>
</p>

<p>
  <strong><%= t(".content") %>:</strong>
  <%= raw @admin_article.content %>
</p>


<p>
  <strong>Digest:</strong>
  <%= raw @admin_article.digest %>
</p>

<%= link_to 'Edit', edit_admin_article_path(@admin_article) %> |
<%= link_to 'Back', admin_articles_path %>
