<% meta title: "Тюменский дом фотографии",
     description: "Статьи тюменского дома фотографии",
     keywords: %w(статьи фотография Тюмень)
%>

<% breadcrumb :articles %>

<h1><%= t("articles_") %></h1>

  
<%= will_paginate @articles, renderer: BootstrapPagination::Rails%>


    <% @articles.each do |article| %>

    
        <div class="well">
        <h4> <%= link_to article.title, article_path(article) %> </h4>

        
        
        <img src = "<%= article.first_image_src %>"  alt="..." style = "width: 90px; float: left ; padding: 5px;" >
        
        <%= raw article.digest %> 
        <small class="text-muted"><%= article.author %>, </small>
        <small class="text-muted"><%= ld article.created_at %> </small>
        <br>
        <%= age_badge(article.age_policy_age) %>

        </div>
         
    
    

<% end %>
