<% breadcrumb :article, @article %>

<h1>
 <%= @article.title %>
</h1>

<p>
  <%= raw @article.content %>
</p>

<small>
  <%= ld @article.created_at %>
</small>

<br>

<%= render partial: "simple_comment/comments", locals: {resource: @article } %>
<%= render partial: "simple_comment/form", locals: { user: nil, resource: @article} %>

