<% meta title: "Тюменский дом фотографии",
     description: "Конкурсы тюменского дома фотографии",
     keywords: %w(конкурсы фотография Тюмень)
%>


<% breadcrumb :competitions %>

<h1><%= t(".list") %></h1>

<%= will_paginate @competitions %>



<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(".title") %></th>
      <th><%= t(".results") %></th>
      <th><%= t(".type") %></th>
      <th><%= t(".accept_date") %></th>
      <th><%= t(".last_date") %></th>
      <th><%= t(".open_date") %></th>
      <th><%= t("participate") %></th>
      <th colspan="3"></th>
      
    </tr>
  </thead>

  <tbody>
    <% @competitions.each do |competition| %>
      
      <tr>
        <td><%= link_to competition.title,view_nominations_competition_path(competition) %></td>
        <td><%= link_to horn_icon, results_nominations_competition_path(competition) %></td>
        <% type =competition.fiap? ? yellow_label(t("fiap")) :  competition.open? ? green_label(t("open")) : red_label(t("private")) %>
        <td><%= type %></td>
        <td><%= ld competition.accept_date %></td>
        <td><%= ld competition.last_date %></td>
        <td><%= ld competition.open_date %></td>
        
        


        <%- status_icon = question_icon if competition.has_awaiting_request?(current_user) %>
        <%- status_icon ||= ok_icon if competition.participate?(current_user) %>
        <%- status_icon ||= stop_icon if competition.has_unaccepted_request?(current_user) %>
        
        <td><%= status_icon %></td>
        
        <td><%= link_to(photo_icon, view_nominations_competition_path(competition),:title => t('photos_')) %></td>
        <td><%= link_to show_icon, competition %></td>
        <% hint = competition.can_upload_photo?(current_user) ? t('load_photos') : t('send_request') %>
        <td><%= link_to request_icon(competition.can_upload_photo?(current_user)), competition_requests_path(competition), 
          title: hint, method: :post if can?(:request, competition) %></td>
        

       </tr>
    <% end %>
  </tbody>
</table>

<br>

<sup><%= t('hints') %></sup>
<p class="small">
  
<%= show_icon %> : <%= t('competition_info') %>
<br> 
<%= photo_icon %> : <%= t('competition_photos') %>
<br>
<%= request_icon(false) %> : <%= t('send_request') %>
<br>
<%= request_icon(true) %> : <%= t('load_photos') %>


</p>


