<% meta title: "Тюменский дом фотографии: Конкурсы",
     description: "Конкурсы тюменского дома фотографии",
     keywords: %w(конкурсы фотография Тюмень)
%>


<% breadcrumb :competitions %>

<h1><%= t(".list") %></h1>

<%= render partial: 'competitions/competitions', locals: { competitions: @competitions, title: t('_competitions') } %>
<%= render partial: 'competitions/competitions', locals: { competitions: @fotofinishes, title: t('photofinishes') } %>



<br>

<sup><%= t('hints') %></sup>
<p class="small">
<%= horn_icon %> : <%= t('competition_results') %>
<br>  
<%= show_icon %> : <%= t('competition_info') %>
<br> 
<%= photo_icon %> : <%= t('competition_photos') %>
<br>
<%= request_icon(false) %> : <%= t('send_request') %>
<br>
<%= request_icon(true) %> : <%= t('load_photos') %>


</p>


