<h1><%= t(".list") %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(".title") %></th>
      <th><%= t(".last_date") %></th>
      <th><%= t(".open_date") %></th>
      <th></th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @competitions.each do |competition| %>
      <tr>
        <td><%= competition.title %></td>
        <td><%= ld competition.last_date %></td>
        <td><%= ld competition.open_date %></td>
        <td><%= link_to show_icon, competition %></td>
        <td><%= link_to request_icon, competition_competition_photos_path(competition) %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Competition', new_competition_path %>
