<% breadcrumb :results_photos, @competition, @nomination %>

<h2><%= t('competition_results') %></h2>
<h1><%= @competition.title %></h1>

<%= will_paginate @competition_photos %>

<h3> <%= @nomination.title %></h3>

    <div class="row">
      
      <% @competition_photos.each_with_index do |competition_photo,index| %>
      
        <div class="col-sm-3 thumb">
       
          <%= render partial: "photos/thumb", locals: { photo: competition_photo.photo, path: gallery_show_path(competition_photo.photo) } %>

        <%- rating ="R: #{competition_photo.average_rating }" %>
        <%- place = "P: #{competition_photo.place }" %>
        <%- likes = "L: #{competition_photo.likes.count }" %>
          

        <%= render partial: "photos/result_caption", locals: { photo: competition_photo.photo, rating: rating, place: place, likes: likes } %>
        
        </div>

      <% end %>  
    
    
  </div>

  <div class="row">
  
    <div class="col-md-3">
      <sup><%= t('hints') %></sup>
      <p class="small">
        <span class="label label-warning"><%= t("place") %></span>
        <span class="label label-success"><%= t("rating") %></span>
        <span class="label label-info"><%= t("likes") %></span>
      </p>  
    </div>  
  </div>  

</div>



