<% breadcrumb :competition,@competition %>
<p id="notice"><%= notice %></p>

<h1>
  <%= @competition.title %>
</h1>

<p>
  <strong><%= t(".last_date") %>:</strong>
  <%=ld @competition.last_date %>
</p>

<p>
  <strong><%= t(".open_date") %>:</strong>
  <%=ld @competition.open_date %>
</p>

<p>
   <%= raw @competition.description %>
</p>

