<% breadcrumb :view_competition_photos, @competition, @nomination %>


<h1><%= @competition.title %></h1>

<h2><%= t('competition_photos') %></h2>


<%= will_paginate @competition_photos %>
<br>

  
    <h3> <%= @nomination.title %></h3>
 
    <div class="row">
      
      <% @competition_photos.each_with_index do |competition_photo,index| %>
      
        <div class="col-sm-3 thumb">
          <%= render partial: "photos/thumb", locals: { photo: competition_photo.photo, path: gallery_show_anonymous_path(competition_photo.photo) } %>

        <%- l0 = "#{competition_photo.jury_count} / #{@all_jury_count}" %>
        <%- l1 = content_tag(:span,competition_photo.like_count,class: "label label-primary",id: "like_count#{competition_photo.id}") %>
        
        <% if can?(:read, Competition)  %>
        <%- icon = competition_photo.liked_by(@user) ? unlike_icon("like#{competition_photo.id}") : like_icon("like#{competition_photo.id}") %>
        <%- l2 = link_to(icon, like_path(competition_photo), remote: true) if can? :like, @competition %>
        <% end %>

        <%= render partial: "photos/caption", locals: { photo: competition_photo.photo, links: [l0,l1,l2] } %>
        
        </div>

      <% end %>  
    
    
  </div>




  
