<h1><%= t(".list") %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(".title") %></th>
      <th><%= t(".description") %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @nominations.each do |nomination| %>
      <tr>
        <td><%= nomination.title %></td>
        <td><%= nomination.description %></td>
        <td><%= link_to show_icon, admin_competition_nomination_path(@competition,nomination) %></td>
        <td><%= link_to edit_icon, edit_admin_competition_nomination_path(@competition,nomination) %></td>
        <td><%= link_to del_icon, admin_competition_nomination_path(@competition,nomination), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(".new"), new_admin_competition_nomination_path(@competition) %>
