<h1>Последние фотографии</h1>

<br>

<div class="row">  



  
  <% @photos.each_with_index do |photo,index| %>
  
    <div class="col-sm-3" id = "<%= "t#{photo.id}" %>" >
    <div class="caption">
         <%= link_to photo.published ? eye_open_icon("photo#{photo.id}") : eye_close_icon("photo#{photo.id}") ,publish_admin_photo_path(photo),remote: true %>
          <span>
         <%= link_to del_icon, admin_photo_path(photo), method: :delete,remote: true, data: { confirm: 'Are you sure?' } %>
         </span> 
         <%= exclaim_icon unless photo.seen %>

    </div>
    <div class="thumbnail" style = "width: 250px;height:270px;">
      <a href=<%= admin_photo_path(photo) %> class="thumbnail" >
          <%= image_tag photo.image_url(:thumb),data: {src: photo.image_url(:thumb)} %>
        </a>
      
    </div>
   
  </div>

  <% end %>
  
</div>


