<div style="float: right">
<%= link_to backward_icon, admin_photo_path(@prior_photo_id, photo_ids: @photo_ids) if @prior_photo_id %>
<%= link_to forward_icon, admin_photo_path(@next_photo_id,photo_ids: @photo_ids) if @next_photo_id %>
</div>

<%= render partial: "photos/image", locals: { photo: @photo } %>


<%= link_to edit_icon, edit_admin_photo_path(@photo) %>
<%= link_to del_icon, admin_photo_path(@photo), method: :delete,remote: true, data: { confirm: 'Are you sure?' } %>


<%= render partial: "comment/comments_under_user", locals: {resource: @photo } %>


<%= render partial: "comment/form", locals: { user: current_user, resource: @photo} %>





