<%= simple_form_for(@admin_banner_placement) do |f| %>
  <%= f.error_notification %>


    <div class="form-group">
    <%= f.association :banner, :input_html => {class: "form-control"} %>
    </div>
    
    <div class="form-group">
    <%= f.input :place_id,collection: Admin::BannerPlacement::PLACES, label_method: Admin::BannerPlacement::LABEL, value_method: Admin::BannerPlacement::VALUE,
    :input_html => {class: "form-control"}%>
    </div>
    <div class="form-group">
    <%= f.input :active%>
    </div>
    <div class="form-group">
    <%= f.input :start_date, :input_html => {class: "form-control"} %>
    </div>
    <div class="form-group">
    <%= f.input :end_date, :input_html => {class: "form-control"} %>
    </div>


    <%= f.button :submit,input_html: {class: "btn btn-default"} %>
  
<% end %>
