<h1>Listing admin_banner_placements</h1>

<table>
  <thead>
    <tr>
      <th>Banner</th>
      <th>Place</th>
      <th>Start date</th>
      <th>End date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_banner_placements.each do |admin_banner_placement| %>
      <tr>
        <td><%= admin_banner_placement.banner_id %></td>
        <td><%= admin_banner_placement.place_id %></td>
        <td><%= admin_banner_placement.start_date %></td>
        <td><%= admin_banner_placement.end_date %></td>
        <td><%= link_to 'Show', admin_banner_placement %></td>
        <td><%= link_to 'Edit', edit_admin_banner_placement_path(admin_banner_placement) %></td>
        <td><%= link_to 'Destroy', admin_banner_placement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banner placement', new_admin_banner_placement_path %>
