<h1><%= t(".title") %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(".banner") %></th>
      <th><%= t(".place") %></th>
      <th><%= t(".start_date") %></th>
      <th><%= t(".end_date") %></th>
      <th><%= t(".active") %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_banner_placements.each do |admin_banner_placement| %>
      <tr>
        <td><%=image_tag admin_banner_placement.banner.image_url(:thumb) %></td>
        <td><%= admin_banner_placement.place_label %></td>
        <td><%= ld admin_banner_placement.start_date %></td>
        <td><%= ld admin_banner_placement.end_date %></td>
        <td><%= t(admin_banner_placement.active?) %></td>
        <td><%= link_to show_icon, admin_banner_placement %></td>
        <td><%= link_to edit_icon, edit_admin_banner_placement_path(admin_banner_placement) %></td>
        <td><%= link_to del_icon, admin_banner_placement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banner placement', new_admin_banner_placement_path, class: "btn btn-primary"%>
