<p id="notice"><%= notice %></p>

<p>
  <strong>Banner:</strong>
  <%= @admin_banner_placement.banner_id %>
</p>

<p>
  <strong>Place:</strong>
  <%= @admin_banner_placement.place_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @admin_banner_placement.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @admin_banner_placement.end_date %>
</p>

<%= link_to 'Edit', edit_admin_banner_placement_path(@admin_banner_placement) %> |
<%= link_to 'Back', admin_banner_placements_path %>
