<h3><%= t('users') %></h3>
<div class="span8">
<%= will_paginate @users %>
<br/>
<%= link_to "Все пользователи", users_path %> |
<%= link_to "Выбрать роль", select_roles_users_path %>

<br>
<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= t('fio') %></th>
      <th><%= t('email') %></th>
      <th><%= t('registered') %></th>
      <th><%= t('confirmation') %></th>
      <th><%= t('role') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.full_name, user %></td>
      <td><%= user.email %></td>
      <td><%= ld(user.created_at.to_date) %></td>
      
      <td>
      <span id="confirm<%= user.id %>">
      <%= user.confirmed_at.nil? ? link_to(t('unconfirmed'), confirm_user_path(user), method: :post,remote: true, data: { confirm: 'Are you sure?' }) : t('confirmed') %>
      </span>
      </td>

      <td><%= user.roles.map(&:name) unless user.roles.first.nil? %></td>
      <td>
        <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini" type="button">Change role</a>
        <%= render user %>
      </td>
      <td><%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user %></td>
      <td>
        <%= link_to "Маскировка", new_user_masquerade_path(user), class: 'btn btn-mini' %>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>
</div>
