  <div class="span8">
      <div id="myCarousel" class="carousel slide">
      
        <ol class="carousel-indicators">
      
          <% @last_photos.each_with_index do |photo,index| %>
            <li data-target="#myCarousel" data-slide-to="<%=index %>" </li>
          <% end %>
        
        </ol>


        <!-- Carousel items -->
        

        <div class="carousel-inner">
    
         <div class="item active"><%=image_tag @last_photos.first.image_url %>
         <div class="carousel-caption">
                  <h4><%= @last_photos.first.title%></h4>
                  
          </div>
          </div> 

          <% @last_photos.each do |photo| %>
            
            <div class="item"><%=image_tag photo.image_url %>
         <div class="carousel-caption">
                  <h4><%= photo.title%></h4>
                  
                </div>
                </div>   
          <% end %>
        
        </div>



        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    
    </div> 