<% meta title: "Тюменский дом фотографии",
     description: "Тюменский дом фотографии",
     keywords: %w(Тюмень фотография дом фотоискусство фотоклуб)
%>

<% meta og: {
          image: asset_url('logo1.jpg'),
          title: "Тюменский дом Фотографии",
          url: root_url
     } %>

  <% if @setting_decorator.album %>
    <p>
     <h3><%= t(:tdp_presents) %>
     <br>
     <%= link_to elki(@setting_decorator.album_title), album_path(@setting_decorator.album) if @setting_decorator.album %>
     </h3>
     <small><%= author_label(@setting_decorator.album) %> : <%= @setting_decorator.authors if @setting_decorator.album && @setting_decorator.album.authors %></small>
    </p>
  <% end %>

  <% if @setting_decorator.photos  %>
  <div class="fotorama" data-autoplay="true" data-width="100%"
      data-transition="crossfade" data-fit="scaledown">

     <% @setting_decorator.photos.each do |photo| %>
      <a href="<%= photo.image_url_for_main_carousel(current_user, session[:agreed], :normal) %>"></a>
     <% end %> 
  </div>

  <% end %>
  
  <% if @setting_decorator.novelty  %>
    <div>
     <h3> <%= t('main_novelty') %> </h3>
      <img src = "<%= @setting_decorator.novelty.first_image_src %>" height="30%" width="30%" style="float: left; padding-right: 20px;" />
      <h2> <%= link_to  @setting_decorator.novelty.title, novelty_path(@setting_decorator.novelty) %> </h2>
      <p> <%= raw @setting_decorator.novelty.digest %>  </p>
      <small> <%= age_badge(@setting_decorator.novelty.age_policy_age)%> </small>
    </div>
   <% end %>

   <div style="clear:both"></div>

     <% @setting_decorator.other_novelties.each_with_index  do |novelty, index| %>
                
          <div class="col-xs-6" style="height: 200px" >
              <%= age_badge(novelty.age_policy_age) %>
              <%= link_to novelty.title, novelty_path(novelty) %>
              
              <%= raw novelty.digest %>
          </div>

     <% end %>
   

<div style="clear:both"></div>
  
   <% if @setting_decorator.first_article %>
      <div>
      <h3> <%= t('recommended_article') %> </h3>
        <img src = "<%= @setting_decorator.first_article.first_image_src %>" height="30%" width="30%" style="float: left; padding-right: 20px;" />
        
        <h3><%= link_to @setting_decorator.first_article.title, article_path(@setting_decorator.first_article) %></h3>
        
        <small class="text-muted"><%= @setting_decorator.first_article.author %> </small>
        <small class="text-muted"><%= ld @setting_decorator.first_article.created_at %> </small>
        <p><%= raw @setting_decorator.first_article.digest %> 
        <small> <%= age_badge(@setting_decorator.first_article.age_policy_age) %>  </small>
     
    <div style="clear:both"></div>

      <div class="muted"><%= t("more_articles") %></div>
      <div class="row">
       
      <% @setting_decorator.other_articles.each_with_index  do |article,index| %>
              
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">

                
            <img src ="<%= post_image(article) %>"  alt="..." style = "max-height: 150px" >


          </div>
          <div class="caption">
            <%= age_badge(article.age_policy_age) %>
            <%= link_to article.title, article_path(article) %>

          </div>  
        </div>
        


      <% end %>
     </div>

  </div>

  <% end %>

<div style="clear:both;"></div>



  <% if @last_photos  %>
  <h3><%= t('last_photos') %></h3>
  <div class="row" style="padding-bottom: 70px">    
 
      <% @last_photos.each do |photo|  %>
       <div class="col-sm-3">

         <%= render partial: "photos/thumb", locals: { photo: photo, path: gallery_show_path(photo), user: current_user, agreed: session[:agreed] } %>
         <%= render partial: "photos/caption", locals: { photo: photo, links: [] } %>
     
       </div>
      <% end %>      
  </div>

  <% end %>








