

  <% if @photos  %>
  <h3>Галлерея сайта</h3>

  
<div class="fotorama" data-autoplay="true">
     <% @photos.each do |photo| %>
      <img src="<%= photo.image_url(:normal) %>" /> 
     <% end %> 
  </div>
 
 



  <% end %>


  
  <% if @novelty  %>
  <div class="jumbotron" style="padding:0px">
  <h2> <%=  @novelty.title %> </h2>
    <div>
      <img src = "<%= @novelty.first_image_src %>" height="30%" width="30%" style="float: left; padding-right: 20px;" />
      <p><%= raw @novelty.digest %> <%= link_to t("more"), novelty_path(@novelty) %> </p>
    </div>
  </div>
  <% end %>




<div style="clear:both;"></div>

  <% if @first_article %>
    
    <h3>Статьи</h3>
      
      <div>
        <img src = "<%= @first_article.first_image_src %>" height="30%" width="30%" style="float: left; padding-right: 20px;" />
        <p><%= raw @first_article.digest %> <%= link_to t("more"), article_path(@first_article) %></p>
      </div>
     
    <div style="clear:both;padding-top: 20px"></div>
      
      <div class="row">
      
      <% @other_articles.each_with_index  do |article,index| %>
      
        <div class="col-sm-3">
          <a href=<%= article_path(article) %> class="thumbnail" >
            <img src = "<%= article.first_image_src %>" style="height: 100px" />
          </a>
          <div class="caption">
            <%= article.title %>
          </div>  
        </div>  
      
      <% end %>
     </div>

  <% end %>

<div style="clear:both;"></div>



  <% if @last_photos  %>
  <h3>Последние фотографии</h3>
  <div class="row" style="padding-bottom: 70px">    
 
      <% @last_photos.each do |photo|  %>
       <div class="col-sm-3">
     
         <a href=<%= gallery_show_path(photo) %> class="thumbnail" >
          <%= image_tag photo.image_url(:thumb), style: "height: 150px;" %>
         </a>
     
       </div>
      <% end %>      
  </div>

  <% end %>