<% title "Главная страница" %> 

  <p>
   <h3>Тюменский дом фотографии
   представляет вашему вниманию виртуальную выставку
   <br>
   <%= link_to elki(@setting_decorator.album_title), album_path(@setting_decorator.album) %>
   </h3>
   <small><%= t('authors') %> : <%= @setting_decorator.album.authors %></small>
  </p>




<% if @setting_decorator.photos  %>
  <div class="fotorama" data-autoplay="true" data-fit="cover" data-width="100%"
     data-ratio="1200/900" data-transition="crossfade">

     <% @setting_decorator.photos.each do |photo| %>

     
      <a href="<%= photo.image_url_for_main_carousel(current_user, session[:agreed], :normal) %>"></a>
        
     <% end %> 
  </div>


  <% end %>


  
  <% if @setting_decorator.novelty  %>
    <div>
     <h3> Главная новость</h3>
      <img src = "<%= @setting_decorator.novelty.first_image_src %>" height="30%" width="30%" style="float: left; padding-right: 20px;" />
      <h2> <%= link_to  @setting_decorator.novelty.title, novelty_path(@setting_decorator.novelty) %> </h2>
      <p> <%= raw @setting_decorator.novelty.digest %>  </p>
      <small> <%= age_badge(@setting_decorator.novelty.age_policy_age)%> </small>
    </div>
   <% end %>




<div style="clear:both;"></div>
  <br>
   <% if @setting_decorator.first_article %>
      <div>
      <h3> Рекомендуемая статья</h3>
        <img src = "<%= @setting_decorator.first_article.first_image_src %>" height="30%" width="30%" style="float: left; padding-right: 20px;" />
        
        <h3><%= link_to @setting_decorator.first_article.title, article_path(@setting_decorator.first_article) %></h3>
        
        <small class="text-muted"><%= @setting_decorator.first_article.author %> </small>
        <small class="text-muted"><%= ld @setting_decorator.first_article.created_at %> </small>
        <p><%= raw @setting_decorator.first_article.digest %> 
        <small> <%= age_badge(@setting_decorator.first_article.age_policy_age) %>  </small>
     
    <div style="clear:both;padding-top: 20px"></div>

      <div class="muted"><%= t("more_articles") %></div>
      <div class="row">
       
      <% @setting_decorator.other_articles.each_with_index  do |article,index| %>
              
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">

                
            <img src ="<%= post_image(article) %>"  alt="..." style = "max-height: 150px" >


          </div>
          <div class="caption">
            <%= age_badge(article.age_policy_age) %>
            <%= link_to article.title, article_path(article) %>

          </div>  
        </div>
        


      <% end %>
     </div>

  </div>

  <% end %>

<div style="clear:both;"></div>



  <% if @last_photos  %>
  <h3>Последние фотографии</h3>
  <div class="row" style="padding-bottom: 70px">    
 
      <% @last_photos.each do |photo|  %>
       <div class="col-sm-3">

         <%= render partial: "photos/thumb", locals: { photo: photo, path: gallery_show_path(photo), user: current_user, agreed: session[:agreed] } %>
         <%= render partial: "photos/caption", locals: { photo: photo, links: [] } %>
     
       </div>
      <% end %>      
  </div>

  <% end %>





<div class="modal fade" id = "age_agreement">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Соглашение</h4>
      </div>
      <div class="modal-body">
        <p>Я подтверждаю, что являются совершеннолетним.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <%= link_to 'Я согласен', age_agreement_agreed_path %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





