
<% if @setting_decorator.photos  %>
  <div class="fotorama" data-autoplay="true" data-fit="cover" data-width="100%"
     data-ratio="1200/900" data-hash="true">
     <% @setting_decorator.photos.each do |photo| %>

     <img style="float: left "src="<%= photo.image_url(:carousel) %>" /> 
      
     <% end %> 
  </div>


  <% end %>


  
  <% if @setting_decorator.novelty  %>
  <div class="jumbotron" style="padding:0px">
  <h3> Главная новость</h3>
    <div style="border: 1px dotted silver; padding: 10px">
      <img src = "<%= @setting_decorator.novelty.first_image_src %>" height="30%" width="30%" style="float: left; padding-right: 20px;" />
      <h2> <%= link_to  @setting_decorator.novelty.title, novelty_path(@setting_decorator.novelty) %> </h2>
      <p> <%= raw @setting_decorator.novelty.digest %>  </p>
      <small> <%= badge "#{@setting_decorator.novelty.age_policy_age}+"%> </small>
    </div>
  </div>
  <% end %>




<div style="clear:both;"></div>
  <h3> Рекомендуемая статья</h3>
  <% if @setting_decorator.first_article %>
      <div classs="well" style="padding: 10px;">
        <img src = "<%= @setting_decorator.first_article.first_image_src %>" height="30%" width="30%" style="float: left; padding-right: 20px;" />
        
        <h4><%= link_to @setting_decorator.first_article.title, article_path(@setting_decorator.first_article) %></h4>
        
        <small class="text-muted"><%= @setting_decorator.first_article.author %> </small>
        <small class="text-muted"><%= ld @setting_decorator.first_article.created_at %> </small>
        <p><%= raw @setting_decorator.first_article.digest %> 
        <small> <%= badge "#{@setting_decorator.first_article.age_policy_age}+"%> </small>
     
    <div style="clear:both;padding-top: 20px"></div>

      <div class="muted">Еще статьи...</div>
      <div class="row">
       
      <% @setting_decorator.other_articles.each_with_index  do |article,index| %>
      
        
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img src ="<%= article.first_image_src %>"  alt="..." style = "max-height: 150px" >
          </div>
          <div class="caption">
            <%= link_to article.title, article_path(article) %>
          </div>  
        </div>
        


      <% end %>
     </div>

  </div>

  <% end %>

<div style="clear:both;"></div>



  <% if @last_photos  %>
  <h3>Последние фотографии</h3>
  <div class="row" style="padding-bottom: 70px">    
 
      <% @last_photos.each do |photo|  %>
       <div class="col-sm-3">
     
         <%= render partial: "photos/thumb", locals: { photo: photo, path: gallery_show_path(photo) } %>
         <%= render partial: "photos/caption", locals: { photo: photo, links: [] } %>
     
       </div>
      <% end %>      
  </div>

  <% end %>