<td><%= link_to doc.title, document_path(doc)  %></td>
<td><%= ld(doc.creation_date) %></td>
<td><%= doc.likes %></td>
<td><%= doc.dislikes %></td>
<td><%= t("enums.document.status.#{doc.status}") %></td>

<%- if (doc.voting?)  && (can? :vote, doc) %> 
  <td><%= link_to like_icon(1), vote_document_path(doc), method: :put, data: { confirm: 'Are you sure?' }, remote: true unless current_user.liked?(doc) %></td>
  <td><%= link_to unlike_icon(1), downvote_document_path(doc), method: :put, data: { confirm: 'Are you sure?' }, remote: true unless current_user.disliked?(doc)%></td>
<%- end %>
