<h1><%= @album.title %></h1>
<br>

<%= render partial: "description", locals: {album: @album} %>

<div class="fotorama" data-shuffle="false" data-nav="thumbs" data-width="100%" >
			
		 <a href="<%= @album_photo.image_url(:normal) %>" data-fit="scaledown"></a>
     <% @others.each do |album_photo| %>
	   	
	   	<% unless album_photo.id == @album_photo.id  %>  
	     <a href="<%= album_photo.image_url(:normal) %>" data-fit="scaledown"></a>
     	<% end %>
     
     <% end %> 

</div>

<!-- !!! Нужно предусмотреть переход если фото загружено само по себе без пользователя -->

<button type="button" class="btn btn-default btn-lg">

	<%= link_to comment_icon, gallery_show_path(@album_photo.photo), class: 'comlink' %>
</button>

