<% breadcrumb :albums %>

<% cache(cache_key_album_last_photos) do %>


<% @albums.each do |album| %>
<p>
<h3><%= link_to album.title, album_path(album) %></h3>


<small><%= t('authors') %> : <%= album.authors %></small>
</p>
	<% album.last_photos.each_with_index do |photo,index| %>
			  
   	  <div class="col-sm-3" >
    	<div class="thumbnail">  
      <%= render partial: "photos/thumb", locals: { photo: photo, path: album_carousel_path(album.id,photo.id) } %>
 
      <%= render partial: "photos/caption", locals: { photo: photo, links: [] } %>
    	</div>
    
  	</div>

  <% end %>

<div class="clearfix"></div>

 <% end %>





<% end %>
