<h1><%= t("#{@post_sym.to_s.pluralize}_") %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(".title") %></th>
      <th><%= t(".age_policy") %> </th>
      <th><%= t("promoted") %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_posts.each do |admin_post| %>
    
      <tr>
        <td><%= admin_post.title.to_s %></td>
        
        <td><%= admin_post.age_policy_age %>+ </td>
        <td>
        <%= 
          link_to promote_icon("p#{admin_post.id}", admin_post.promoted?), [:promote,:admin,admin_post], remote: true, method: :post %>
        </td>

        <td><%= link_to show_icon, admin_post %></td>
        <td><%= link_to edit_icon, [:edit,:admin,admin_post] if can? :edit, admin_post %> </td>
        <td><%= link_to del_icon, [:admin, admin_post], method: :delete, data: { confirm: 'Are you sure?' } if can? :manage, admin_post %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to t(".new"), [:new, :admin, @post_sym], {class: "btn btn-primary"}  if can? :manage, @post_sym.to_s.capitalize.constantize %>

<br>
