<h1><%= t(".letters") %></h1>

<br>

<%= link_to t(".new"), new_user_letter_path(@user.id), class: "btn btn-primary" %> <br><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(".title") %></th>
      <th><%= t(".recipients") %></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @letters.each do |letter| %>
      <tr class= <%= "bold" unless letter.seen %>>
        <td><%= link_to letter.title, user_letter_path(@user.id,letter)  %> </td>
        <td><%= letter.recipient_names %></td>
        <td><%= l letter.updated_at, format: :long  %></td>
        <td><%= link_to show_icon, user_letter_path(@user.id,letter) %></td>
        <td><%= link_to edit_icon, edit_user_letter_path(@user.id,letter) %></td>
        <td><%= link_to del_icon, user_letter_path(@user.id, letter), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


