<%= simple_form_for(@competition_request, url: admin_request_path, method: :patch) do |f| %>
  <%= f.error_notification %>


    <div class="form-group">
    <%= f.input :response_id, 
        collection: CompetitionRequest::RESPONSES,
        label_method: CompetitionRequest::LABEL, 
        value_method: CompetitionRequest::VALUE, 
        :input_html => {class: "form-control"} %>

    </div>

    <div class="form-group">
        <%= f.input :permited_nomination_count, :input_html => {class: "form-control", value: @competition_request.competition.nominations.count} %>
    </div>
    

    <div class="form-group">
        <%= f.input :answer, :input_html => {class: "form-control"} %>
    </div>

    
    
    <%= f.button :submit, value: I18n.t("save"), input_html: {class: "btn btn-default" } %>
  
<% end %>
