<h3>  <%= t("competition_requests.index.title") %> </h3>

<%= will_paginate @competition_requests %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("competition_requests.index.user_name") %></th>
      <th><%= t("competition_requests.index.decision") %></th>
    </tr>
  </thead>

  <tbody>
    <% @competition_requests.each do |request| %>
      <tr>
        <td><%= request.user_name %></td>
        <td> <%= request.decision %></td>
        <td> <%= link_to(t("competition_requests.index.requests"), edit_admin_request_path(request),  class: "btn btn-primary")  %></td>
        

       </tr>
    <% end %>
  </tbody>
</table>

<br>
