<h3>  <%= t("competition_requests.index.title") %> </h3>

<%= will_paginate @competition_requests %>


<div role = "tabpanel">
  
   <!-- Nav tabs -->
  <ul id="my" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#filter" aria-controls="filter" role="tab" data-toggle="tab">Фильтр</a></li>
    <li role="presentation"><a href="#search" aria-controls="search" role="tab" data-toggle="tab">Поиск</a></li>
    
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="filter"> 
      <%= render partial: 'admin/competition_requests/filter_form' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="search"> 
      <%= render partial: 'admin/competition_requests/search_form' %>
    </div>
  </div>

</div>




<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("competition_requests.index.user_name") %></th>
      <th><%= t("competition_requests.index.permited_nomination_count") %></th>
      <th><%= t("competition_requests.index.decision") %></th>
    </tr>
  </thead>

  <tbody>
    <% @competition_requests.each do |request| %>
      <tr>
        <td><%= link_to request.user_name, user_profile_path(request.user) %></td>
        <td> <%= request.nomination_count %></td>
        <td> <%= request.decision %></td>
        
        <td> <%= link_to(t("competition_requests.index.requests"), edit_admin_request_path(request),  class: "btn btn-primary")  %></td>
        

       </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>

  <%- if not @response_id.blank? %>
    $('#my a:first').tab('show')
  <%- elsif not @name.blank? %>
    $('#my a:last').tab('show')
  <%- end %>

</script>

