<%= simple_form_for([@site_photo]) do |f| %>
  <%= f.error_notification %>

    <!-- Загрузка только внешних фотографий -->

    <div class="form-group">
    <%= f.input :title,:input_html => {class: "form-control"} %>
    </div>
    
    <div class="form-group">
    <%= f.input :user_name,:input_html => {class: "form-control"} %>
    </div>

    
    <%= f.hidden_field :image_cache %>
  
    <div class="form-group">
    <%= f.file_field :image,:input_html => {class: "form-control"} %>
    </div>
    
    <div class="form-group">
    <%= f.association :album,:input_html => {class: "form-control"} %>
    </div>
    
    <div class="form-group">
    <%= f.association :policy,:input_html => {class: "form-control"} %>
    </div>

  
    <%= f.button :submit, value: t('save'),class: "btn btn-default" %>
  
<% end %>

<br>