<%= simple_form_for(@admin_setting) do |f| %>
  <%= f.error_notification %>
    

    <div class="form-group">
    <%= f.association :album,:input_html => {class: "form-control"} %>
    </div>
    
   <div class="form-group">
    <%= f.association :novelty,:input_html => {class: "form-control"} %>
   </div>

   <div class="form-group">
    <%= f.association :article,:input_html => {class: "form-control"} %>
   </div>

    <div class="form-group">
    <%= f.input :articles, :input_html => {data: {load:  Article.selected_ids(@admin_setting.articles).map {|a| {id: a.id,name: a.title}}   }} %>
    </div>

    <div class="form-group">
    <%= f.input :novelties, :input_html => {data: {load:  Novelty.selected_ids(@admin_setting.novelties).map {|a| {id: a.id,name: a.title}}   }} %>
    </div>

   <div class="form-group">
    <%= f.input :footer,:input_html => {class: "form-control"} %>
   </div>
                
    <div class="form-group">
    <%= f.file_field :adult_image,:input_html => {class: "form-control"} %>
    </div>
  

    <%= f.button :submit, value: t('save'),input_html: {class: "btn btn-default"} %>
  
<% end %>

<script type="text/javascript">
  


$('#admin_setting_articles').tokenInput('/ajax/articles',{theme: 'facebook',prePopulate: $('#admin_setting_articles').data('load')})

$('#admin_setting_novelties').tokenInput('/ajax/novelties',{theme: 'facebook',prePopulate: $('#admin_setting_novelties').data('load')})

  

</script>
