<%= simple_form_for(@admin_setting) do |f| %>
  <%= f.error_notification %>
    

    <div class="form-group">
    <%= f.association :album,:input_html => {class: "form-control"} %>
    </div>
    
   <div class="form-group">
    <%= f.association :novelty,:input_html => {class: "form-control"} %>
    </div>

    <%= f.button :submit,input_html: {class: "btn btn-default"} %>
  
<% end %>
