<h1><%= t(".title") %></h1>

<%= link_to edit_icon, edit_admin_setting_path(@admin_setting)  if @admin_setting%>
<%= link_to plus_icon, new_admin_setting_path(@admin_setting)  if @admin_setting.nil?%>

<% if  @admin_setting && @admin_setting.album && @admin_setting.novelty %>

<table class="table table-striped">
  
  <tbody>
    
      <tr>
        <td>Альбом</td>
        <td><%= @admin_setting.album.title if @admin_setting.album %></td>
      </tr>
      <tr>
        <td>Новость</td>
        <td><%= @admin_setting.novelty.title if @admin_setting.novelty%></td>
      </tr>
    
  </tbody>
</table>

<% end  %>

<br>
