<%= simple_form_for([current_user,@photo]) do |f| %>
  <%= f.error_notification %>

    <div class="form-group">
    <%= f.input :title,:input_html => {class: "form-control"} %>
    </div>
    <div class="form-group">
    <%= f.file_field :image,:input_html => {class: "form-control"} %>
    </div>
    <div class="form-group">
    <%= f.association :topic,:input_html => {class: "form-control"} %>
    </div>
    <div class="form-group">
    <%= f.input :theme_tokens, :input_html => {data: {load: @photo.themes.map {|t| {id: t.name,name: t.name}}   }} %>
    </div>

  
  
    <%= f.button :submit,class: "btn btn-default" %>
  
<% end %>

<br>