<%= simple_form_for([current_user, @photo]) do |f| %>
  <%= f.error_notification %>

    <div class="form-group">
    <%= f.input :title,:input_html => {class: "form-control"} %>
    </div>
    <%= f.hidden_field :image_cache %>

    <div class="form-group">
    <%= f.file_field :image,:input_html => {class: "form-control"} %>
    </div>

    <div class="form-group">
    <%= f.association :topic,:input_html => {class: "form-control"} %>
    </div>
    <div class="form-group">
    <%= f.input :destination_id,collection: Photo::DESTINATIONS, label_method: Photo::LABEL, value_method: Photo::VALUE,
    :input_html => {class: "form-control"}%>
    </div>

    <div class="form-group">
    <%= f.association :age_policy, collection: Admin::AgePolicy.order('age'),selected: Admin::AgePolicy.first, :input_html => {class: "form-control"}%>
    </div>

    <div class="form-group">
    <%= f.input :theme_tokens, :input_html => {data: {load: @photo.theme_tags.map {|t| {id: t,name: t}}   }} %>
    </div>

    <%= f.hidden_field :user_id, value: @user.id %>
    
    <%= f.button :submit,value: t(:save), class: "btn btn-default", data: {disable_with: "Submitting..."} %>
  
<% end %>

<br>