<p class="text-center">
  <%= image_tag photo.image_url_for_others(current_user,session[:agreed], :normal) %>
</p>

<p>
 <%= age_badge(photo.age_policy_age) %> 
</p>

<p>
  <strong>Название:</strong>
  <%= photo.title %>
</p>


<p>
	<strong>Автор: </strong>
	<% if photo.user %>
  	<%= link_to(photo.author, user_profile_path(photo.user))  %>
	<% else %>
		<%= photo.author %>
	<% end %>
</p>


<hr/>