<h1><%= @name %></h1>

<%= will_paginate(@photos) %>

<table class="table table-striped">
  <thead>
    <tr >
      <th class="col-md-4"></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.title %></td>
        <td><%= render partial: "photos/thumb", locals: { photo: photo, path: user_photo_path(@user, photo) } %> <%= red_label(t("deleted")) if photo.deleted %></td>
        <td>
         <%= link_to(edit_icon, edit_user_photo_path(@user,photo)) if can? :manage, photo %></td>
        <td>
        <%= link_to(del_icon, user_photo_path(@user,photo), method: :delete, data: { confirm: 'Are you sure?' })  if can? :manage, photo %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
