<% meta title: "Тюменский дом фотографии",
     description: "Новости тюменского дома фотографии",
     keywords: %w(новости фотография Тюмень)
%>


<% breadcrumb :novelties %>

<h1><%= t("novelties_") %></h1>

  
<%= will_paginate @novelties, renderer: BootstrapPagination::Rails%>



    <%@novelties.each do |novelty| %>

         
    
        <div class="well">
        <h4> <%= link_to novelty.title, novelty_path(novelty) %> </h4>

        
       
        <img src = "<%= post_image(novelty) %>"  alt="..." style = "width: 90px; float: left ; padding: 5px;" >
        
        <%= raw novelty.digest %> 
        <small class="text-muted"><%= link_to(novelty.author, user_profile_path(novelty.user_id)) if novelty && novelty.author && current_user && current_user.is_stuff? %>, </small>
        <small class="text-muted"><%= ld novelty.created_at %> </small>
        <br>

        <%= age_badge(novelty.age_policy_age) %>

        </div>
         
    
    

<% end %>
