<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @novelty.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @novelty.content %>
</p>

<p>
  <strong>Publish date:</strong>
  <%= @novelty.publish_date %>
</p>

<p>
  <strong>Published:</strong>
  <%= @novelty.published %>
</p>

<p>
  <strong>User:</strong>
  <%= @novelty.user_id %>
</p>

<%= link_to 'Edit', edit_novelty_path(@novelty) %> |
<%= link_to 'Back', novelties_path %>
