<%= link_to t(:apply),aply_competition_path(@competition),{class: "btn btn-primary"} %>

<h1><%= @competition.title %></h1>
<h2>Отправленные фотографии</h2>
<br>
<div class="row">

    <% @competition_photos.each_with_index do | competition_photo,index| %>
 
    <div class="col-sm-3" style="height: 290px;">
    <div class="thumbnail">  
      <a class="thumbnail" >
          <%= image_tag competition_photo.image_url(:thumb),data: {src: competition_photo.image_url(:thumb)} %>
      </a>
    
    <div class="caption">
     <small>  <%= "#{competition_photo.title} (#{competition_photo.nomination.title})" %>     </small>
     <br/>
     <%= link_to del_icon, competition_competition_photo_path(@competition,competition_photo), method: :delete, data: { confirm: 'Are you sure?' } unless @competition.overdue? %>
    </div>  
    </div>
    
    
  </div>

  <% end %>
  
</div>

