
<h1>Статистика</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Показатель</th>
      <th>Значение</th>
      
    </tr>
  </thead>

  <tbody>
      
    <tr>
        <td>Количество новых пользователей</td>
        <td><%= @stats.new_users_count %></td>
    </tr>

    <tr>
        <td>Количество новых фотографий</td>
        <td><%= @stats.new_photo_count %></td>
    </tr>
    
    <tr>
        <td>Количество незакрытых тикетов</td>
        <td><%= @stats.active_ticket_count %></td>
    </tr>

    <tr>
        <td>Количество заявок на активные конкурсы</td>
        <td><%= @stats.active_competition_requests %></td>
    </tr>
    
    <tr>
        <td>Количество заявок на активные конкурсы ожидающие решения</td>
        <td><%= @stats.active_waiting_competition_requests %></td>
    </tr>
    <tr>
        <td>Количество принятых заявок на активные конкурсы</td>
        <td><%= @stats.active_accepted_competition_requests %></td>
    </tr>
  
    <tr>
        <td>Количество фотографий на открытые конкурсы</td>
        <td><%= @stats.active_photos %></td>
    </tr>
         
        



  </tbody>

</table>
<h2> Пользователи</h2>
<%= line_chart User.group('month(created_at)').count %>
<h2> Фотографии</h2>
<%= line_chart Photo.group('month(created_at)').count %>
