<li class= <%= "active" if params[:controller] == "competitions" ||  params[:controller] == "competition_photos"%>>
 <%= link_to I18n.t("contests"),competitions_path %>
</li>  
  

<li class= <%= "active" if params[:controller] == "novelties" %>>
  <%=link_to(I18n.t("news"),list_novelties_path) if can? :read, Novelty %>
</li>

<li class= <%= "active" if params[:controller] == "articles" %>>
  <%=link_to(I18n.t("articles_"),list_articles_path) if can? :read, Article %>
</li>

<%- if masquerading? && current_user %>
  <li>
    <%= link_to("Выйти из сумрака", user_masquerade_path(current_user.id,0), :data => { :confirm => "Are you sure?" }, :method => :delete, style: 'color: red') %>
  </li>
<% end %>

