<div style="padding-top: 20px">
   
  <div>
    <%= image_tag(@user.face, class: "img-polaroid") %>
  </div>
  <small ><%= @user && @user.full_name %></small>

</div>

<ul class="nav nav-pills nav-stacked" >
  <li class= <%= "active" if params[:controller] == "photos" %>><%= link_to t("photos_"),user_photos_path(@user) %></li>
  <li class= <%= "active" if params[:controller] == "user_cloud" %>><%= link_to t("cloud"),user_cloud_path(@user) %></li>
  <li class= <%= "active" if params[:controller] == "user_subscriptions" %>><%= link_to t("subscriptions"), user_subscriptions_path(@user) %></li>




  <%= render(:partial => "layouts/current_user_links", locals: {user: @user}) if @user == current_user %>
  # TODO: путь к админ контроллеру поправить на общий
  <li><%= link_to(letter_icon, admin_user_letter_senders_path(@user), remote: true)  %></li>
  

</ul>
