<div style="padding-top: 20px">
 
  

  <div>
    <%= @user && @user.avatar && image_tag(@user.avatar_url(:thumb),class: "img-polaroid") %>
  </div>
  <small ><%= @user && @user.full_name %></small>

</div>

<ul class="nav nav-pills" >
  <li class= <%= "active" if params[:controller] == "photos" %>><%= link_to "Фотографии",user_photos_path(@user) %></li>
  <li class= <%= "active" if params[:controller] == "user_cloud" %>><%= link_to "Облако",user_cloud_path(@user) %></li>
  <% render :partial => "current_user_links", locals: {user: @user} if @user == current_user  %>
</ul>
