<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  
    <title><%= content_for?(:title) ? yield(:title) :  "Photohome72" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Photohome" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  

  </head>

  <body style="margin-top: 70px; padding-bottom: 70px">
  

    <div class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container">
        <div class="navbar-header">
          
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%=  link_to(I18n.t("project_name"),root_path,class: "navbar-brand") %>
        </div>
         <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
           
            <%= render 'layouts/common_menu' %>
            <%= render 'layouts/admin_menu' if current_user && current_user.is_stuff? %>
            <%= render 'layouts/navigation' %>
            <%= render 'layouts/lang_select' %>
          
          </ul>
          
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    
    <div class="container">
           
      <%= breadcrumbs :separator => " &rsaquo; " %>
      <%=render 'layouts/messages'%>
      <%= yield %>

    </div>

    
  


  
  <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      
        Copiright 2013 
  

  </div>
  
  
  </body>
</html>
