<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  
    <title><%= title %></title>
    
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Photohome" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53566425-1', 'auto');
  ga('send', 'pageview');

</script>

   

  </head>

  <body class="back">
     
        
    

      <section class="container" style = "background: #ffffff">
      <div class="content row" >
      <section class="main col col-lg-12" style = "margin-bottom: 20px">
          <%= render 'layouts/header' %>
          <%= render 'banners/top' %>       
        </section>
        <section class="main col col-lg-12" style = "margin-bottom: 20px">
           
          <%= breadcrumbs :separator => " &rsaquo; " %>
          <%= render 'layouts/messages' %>
          <%= yield %>
        </section><!-- main -->
       
      </div><!-- content -->
    
  
 

      <%= render partial: 'layouts/copyright' %> 
  

</section><!-- container -->

  
 <%= render 'layouts/age_agreement' %> 
    
  
  
  </body>


</html>
