<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  
    <title><%= content_for?(:title) ? yield(:title) :  "Тюменский дом фотографии" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Photohome" %>">
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display|PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  

  </head>

  <body class="back">
     
        
    

      <section class="container" style = "background: #ffffff">
      
      <div class="content row" >
          <%= render 'layouts/header' %>
          <%= render 'banners/top' %>      
         
         <div class="col-md-2" style="border: dotted 1px silver"><%= render 'layouts/user_sidebar' %></div>    
         
         <section class="main col col-lg-10">
          <%= breadcrumbs :separator => " &rsaquo; " %>
          <%= render 'layouts/messages' %>
          <%= yield %>
        </section><!-- main -->
       
      </div><!-- content -->
    
  
 

  
  <footer class="row">
    <nav class="col col-lg-12">
      <%= render 'banners/top' %>  
      <ul class="breadcrumb">
        <li><a href="about.php">About the Roux Academy</a></li>
        <li><a href="privacypolicy.php">Privacy Policy</a></li>
        <li><a href="http://rouxacademy.com">Roux Academy Website</a></li>
      </ul><!-- breadcrumb -->
    </nav><!-- nav -->
  </footer><!-- footer -->

</section><!-- container -->

  
    
  
  
  </body>
</html>
