<h1>Жюри</h1>

  <%= simple_form_for [@competition,@jury], :url => new_admin_competition_jury_path(@competition), :html => {:method => :put, :class => 'form-horizontal' } do |f| %>


      <%= f.input :user_tokens,label: "Новый член жюри", :input_html => {data: {load: ""   }} %>

                

      <%= f.button :submit,class: "btn btn-default"  ,style: "visibility: hidden" %>
   <% end %>


<table class="table table-striped">
  <thead>
    <tr >
      <th class="span2">Имя</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jurys.each do |j| %>
      <tr>
        <td><%= j.user.name %></td>
        <td><%= link_to del_icon, admin_competition_jury_path(@competition,j), method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>  
    <% end %>
  </tbody>
</table>

